body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: white;
}

.hero {
    padding: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.review-btn {
    background-color: gold;
}

